<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Required Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="A simple web-app for discovering new global recipes.">
        <meta name="keywords" content="PlatterMate">

        <!-- Title -->
        <title><%= title %></title>

        <!-- External CSS -->
        <link rel='stylesheet' href='/css/bootstrap.min.css'>

        <!-- Favicons -->
    </head>
    <body>