<form id='searchForm' action='/search'>
    <div class='input-group input-group-lg mb-3 border border-dark rounded-start-pill rounded-end-pill w-75 d-flex'>
        <input type='text' class='form-control form-control-lg flex-grow-1 rounded-start-pill' id='query' name='query' placeholder='I want to make...' aria-label='query' aria-describedby='query'>
        <button type='submit' class='btn btn-outline-dark rounded-end-pill' id='query'>SEARCH</button>
    </div>
</form>