<!-- Showcase -->
<section id='showcase' class='py-5'>
    <div class='text-dark'>
        <div class='container'>
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="display-4 mt-5 pt-5">Better than your expensive cookery book!</h1>
                    <p class='lead fw-bold'>Learn how to make your favourite dishes.</p>
                    <%- include('searchBtn') %>
                </div>
            </div>
        </div>
    </div>
</section>