@font-face {
    font-family: 'Pacifico';
    src: url('/fonts/Pacifico/Pacifico-Regular.ttf');
    font-weight: 400;
    font-style: regular;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

.body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

#showcase {
    position: relative;
    background: url('/images/background.jpg') no-repeat center center/cover;
    min-height: 500px;
}

.navbar-brand, #showcase h1, .card-title {
    font-family: 'Pacifico', sans-serif;
    line-height: 1.3;
}

#showcase h1 {
    font-size: 3rem;
}

.card-title {
    font-size: 2rem;
}

.card-img img {
    width: 75%;
    height: 75%;
    object-fit: cover;
}

.form-control:focus {
    border-color: #000 !important;
    box-shadow: none !important;
}

@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}